# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.vs/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
!SDL3.dll
!SDL3_image.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!SDL3.lib
!SDL3_image.lib

# Executables
*.exe
*.out
*.app

.vs/FlappyBirdClone/v16/.suo
.vs/FlappyBirdClone/v16/Browse.VC.db
.vs/FlappyBirdClone/v16/ipch/AutoPCH/12eaefc313336282/PLAYER.ipch
.vs/FlappyBirdClone/v16/ipch/AutoPCH/25afb53b94c3ef54/UI.ipch
.vs/FlappyBirdClone/v16/ipch/AutoPCH/38f8821bf5d658a8/IMAGE2D.ipch
.vs/FlappyBirdClone/v16/ipch/AutoPCH/3d71caede2132eb2/COLLECTIBLE.ipch
.vs/FlappyBirdClone/v16/ipch/AutoPCH/4321985beb67731a/MAIN.ipch
.vs/FlappyBirdClone/v16/ipch/AutoPCH/52fd3ed079b0300b/MAIN.ipch
.vs/FlappyBirdClone/v16/ipch/AutoPCH/5ba6a5adab7dc5f7/GAMELOGIC.ipch
.vs/FlappyBirdClone/v16/ipch/AutoPCH/6c1962b8ba0b32fc/WORLD.ipch
.vs/FlappyBirdClone/v16/ipch/AutoPCH/6c3ab09d48944b26/OBJECT2D.ipch
.vs/FlappyBirdClone/v16/ipch/AutoPCH/9c487f59cb0defa8/RESOURCEMANAGER.ipch
.vs/FlappyBirdClone/v16/ipch/AutoPCH/aed62e85d211424f/OBSTACLE.ipch
.vs/FlappyBirdClone/v16/ipch/AutoPCH/af5cc31463067cf3/PLAYER.ipch
.vs/FlappyBirdClone/v16/ipch/AutoPCH/af9bef79106a3693/WORLD.ipch
.vs/FlappyBirdClone/v16/ipch/AutoPCH/b050a0c04cf1a8c4/GAMELOGIC.ipch
.vs/FlappyBirdClone/v16/ipch/AutoPCH/b8655e06405d4a41/UI.ipch
.vs/FlappyBirdClone/v16/ipch/AutoPCH/d335ee1e67076d77/RESOURCEMANAGER.ipch
.vs/FlappyBirdClone/v16/ipch/AutoPCH/d89589b7e8140436/OBSTACLE.ipch
.vs/FlappyBirdClone/v16/ipch/AutoPCH/da138ce478141fbf/OBJECT2D.ipch

